# Parte 1: Entrenamiento, validación y selección

In [45]:
# Importamos las librerias que utilizaremos a lo largo del proyecto
import numpy as np
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import sklearn
import pandas as pd

# Train-val-test-split

El primer es dar un vistazo a los datos con los que se cuenta. Iniciamos validando el tipo de dato de cada uno de ellos.

In [31]:
# Iniciamos leyendo el archivo de entrada
dataset = pd.read_csv("data_titanic_proyecto.csv")

# Contamos el número de regisitros y el numero de columnas que tiene el dataset
print(dataset.shape)

(891, 12)

In [32]:
# Vemos el tipo de dato que tiene cada columna en el dataset
dataset.dtypes

PassengerId             int64
Name                   object
Age                   float64
SibSp                   int64
Parch                   int64
Ticket                 object
Fare                  float64
Cabin                  object
Embarked               object
passenger_class        object
passenger_sex          object
passenger_survived     object
dtype: object

In [7]:
# Calculamos el portancaje de NaN en nuestro dataset
pd.DataFrame({'Porcentaje NaN': dataset.isnull().sum() * 100 / len(dataset)})

                    Porcentaje NaN
PassengerId               0.000000
Name                      0.000000
Age                      19.865320
SibSp                     0.000000
Parch                     0.000000
Ticket                    0.000000
Fare                      0.000000
Cabin                    77.104377
Embarked                  0.224467
passenger_class           0.000000
passenger_sex             0.000000
passenger_survived        0.000000

Con base al análisis anterior, procedemos a descartar los features de: PassengerId, Name, Ticket y Cabin.

La columna 'Cabin' se descarta debido a que posee un 77% de datos NaN los cuales representan una gran incertidumbre. A continuación procedemos a definir 3 variables, una que contendrá las features que no se utilizarán, otra que contendrá las features categoricas y la última el nombre del feature a predecir, en este caso será passenger_survived.

In [28]:
def feature_engineering(ds, useless_features, categorical_features):
    
    # Eliminamos las features que no se utilizaran del dataset
    ds = ds.drop(useless_features, axis=1)
    
    # Normalizamos las variables que no son categoricas
    # Sustituiremos los valores NaN por el valor de la media
    imputer = Imputer(strategy="median")
    ds_numeric_features = ds.drop(categorical_features, axis=1)
    imputer.fit(ds_numeric_features)
    ds_imputer = imputer.transform(ds_numeric_features)
    ds_numeric_features = pd.DataFrame(ds_imputer, columns=ds_numeric_features.columns)
    
    # Normalizamos las variables categoricas
    ds_categorical_features = ds.drop(ds_numeric_features.columns, axis=1)
    ds_categorical_features_encoded = pd.DataFrame()
    
    # Sustituiremos los valores NaN por 'NaN'
    ds_categorical_features = ds_categorical_features.replace(np.nan, 'NaN', regex=True)
    
    # Usamos LabelEncoder para convertir nuestros valores categoricos a numericos
    ds_categorical_features = ds_categorical_features.apply(LabelEncoder().fit_transform)
    ds_categorical_features = pd.DataFrame(ds_categorical_features, columns= ds_categorical_features.columns)
    
    # Concatenamos nuestros dos DataFrames
    ds[categorical_features] = ds_categorical_features[categorical_features].values
    ds[ds_numeric_features.columns] = ds_numeric_features.values
    
    return ds

In [33]:
# Aplicamos feature engineering para normalizar los datos a una forma que no sea útil
useless_features = np.array(['PassengerId','Name','Ticket', 'Cabin'])
categorical_features = np.array(['passenger_sex','Embarked','passenger_class','passenger_survived'])
normalized_dataset = feature_engineering(dataset, useless_features, categorical_features)

print (normalized_dataset)

      Age  SibSp  Parch      Fare  Embarked  passenger_class  passenger_sex  \
0    22.0    1.0    0.0    7.2500         3                0              1
1    38.0    1.0    0.0   71.2833         0                2              0
2    26.0    0.0    0.0    7.9250         3                0              0
3    35.0    1.0    0.0   53.1000         3                2              0
4    35.0    0.0    0.0    8.0500         3                0              1
5    28.0    0.0    0.0    8.4583         2                0              1
6    54.0    0.0    0.0   51.8625         3                2              1
7     2.0    3.0    1.0   21.0750         3                0              1
8    27.0    0.0    2.0   11.1333         3                0              0
9    14.0    1.0    0.0   30.0708         0                1              0
10    4.0    1.0    1.0   16.7000         3                0              0
11   58.0    0.0    0.0   26.5500         3                2              0
12   20.0    0.0    0.0    8.0500         3                0              1
13   39.0    1.0    5.0   31.2750         3                0              1
14   14.0    0.0    0.0    7.8542         3                0              0
15   55.0    0.0    0.0   16.0000         3                1              0
16    2.0    4.0    1.0   29.1250         2                0              1
17   28.0    0.0    0.0   13.0000         3                1              1
18   31.0    1.0    0.0   18.0000         3                0              0
19   28.0    0.0    0.0    7.2250         0                0              0
20   35.0    0.0    0.0   26.0000         3                1              1
21   34.0    0.0    0.0   13.0000         3                1              1
22   15.0    0.0    0.0    8.0292         2                0              0
23   28.0    0.0    0.0   35.5000         3                2              1
24    8.0    3.0    1.0   21.0750         3                0              0
25   38.0    1.0    5.0   31.3875         3                0              0
26   28.0    0.0    0.0    7.2250         0                0              1
27   19.0    3.0    2.0  263.0000         3                2              1
28   28.0    0.0    0.0    7.8792         2                0              0
29   28.0    0.0    0.0    7.8958         3                0              1
..    ...    ...    ...       ...       ...              ...            ...
861  21.0    1.0    0.0   11.5000         3                1              1
862  48.0    0.0    0.0   25.9292         3                2              0
863  28.0    8.0    2.0   69.5500         3                0              0
864  24.0    0.0    0.0   13.0000         3                1              1
865  42.0    0.0    0.0   13.0000         3                1              0
866  27.0    1.0    0.0   13.8583         0                1              0
867  31.0    0.0    0.0   50.4958         3                2              1
868  28.0    0.0    0.0    9.5000         3                0              1
869   4.0    1.0    1.0   11.1333         3                0              1
870  26.0    0.0    0.0    7.8958         3                0              1
871  47.0    1.0    1.0   52.5542         3                2              0
872  33.0    0.0    0.0    5.0000         3                2              1
873  47.0    0.0    0.0    9.0000         3                0              1
874  28.0    1.0    0.0   24.0000         0                1              0
875  15.0    0.0    0.0    7.2250         0                0              0
876  20.0    0.0    0.0    9.8458         3                0              1
877  19.0    0.0    0.0    7.8958         3                0              1
878  28.0    0.0    0.0    7.8958         3                0              1
879  56.0    0.0    1.0   83.1583         0                2              0
880  25.0    0.0    1.0   26.0000         3                1              0
881  33.0    0.0    0.0    7.8958         3                0              1
882  22.0    0.0    0.0   10.5167         3                0              0
883  28.0    0.0    0.0   10.5000         3                1              1
884  25.0    0.0    0.0    7.0500         3                0              1
885  39.0    0.0    5.0   29.1250         2                0              0
886  27.0    0.0    0.0   13.0000         3                1              1
887  19.0    0.0    0.0   30.0000         3                2              0
888  28.0    1.0    2.0   23.4500         3                0              0
889  26.0    0.0    0.0   30.0000         0                2              1
890  32.0    0.0    0.0    7.7500         2                0              1

     passenger_survived
0                     0
1                     1
2                     1
3                     1
4                     0
5                     0
6                     0
7                     0
8                     1
9                     1
10                    1
11                    1
12                    0
13                    0
14                    0
15                    1
16                    0
17                    1
18                    0
19                    1
20                    0
21                    1
22                    1
23                    1
24                    0
25                    1
26                    0
27                    0
28                    1
29                    0
..                  ...
861                   0
862                   1
863                   0
864                   0
865                   1
866                   1
867                   0
868                   0
869                   1
870                   0
871                   1
872                   0
873                   0
874                   1
875                   1
876                   0
877                   0
878                   0
879                   1
880                   1
881                   0
882                   0
883                   0
884                   0
885                   0
886                   0
887                   1
888                   0
889                   1
890                   0

[891 rows x 8 columns]

C:\Users\Chofo\Anaconda3\envs\galileo_python\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Luego que hemos hecho feature_engineering sobre nuestra data para normalizarla, procedemos a crear nuestros distintos datasets que utilizaremos para entrenar, validar y probar.

In [51]:
# Hacemos una copia de nuestro dataset normalizado sin incluir la variable a predecir
ds_x = normalized_dataset.drop('passenger_survived', axis=1)

predict_feature = 'passenger_survived'
ds_y = normalized_dataset[predict_feature].copy()

# Separamos nuestros datos en datos de prueba y datos de entrenamiento
# Utiliazaremos el 80% como datos de entrenamiento
x_train, x_test, y_train, y_test = train_test_split(ds_x, ds_y, train_size=0.8)

# Utilizamos los datos de entrenamiento para extraer una porción para datos de validación.
# Utilizaremos un 20% del dataset de entrenamiento para datos de validación
x_train, x_validation, y_train, y_validation = train_test_split(x_train, y_train, train_size=0.85)

print('Shape de los datos de entrenamiento: ', x_train.shape, y_train.shape)
print('Shape de los datos de validación', x_validation.shape, y_validation.shape)
print('Shape de los datos de prueba', x_test.shape, y_test.shape)

Shape de los datos de entrenamiento:  (605, 7) (605,)
Shape de los datos de validación (107, 7) (107,)
Shape de los datos de prueba (179, 7) (179,)